PORT=5000
MONGO_URI=mongodb+srv://<db-user>:<db-password>@<cluster-name>.mongodb.net/resqnet?retryWrites=true&w=majority&appName=ResQNet
CLIENT_URL=http://localhost:5173
RPC_URL=
PRIVATE_KEY=
CONTRACT_ADDRESS=
TWILIO_FROM_NUMBER=+12762593143
TWILIO_MESSAGING_SERVICE_SID=
